.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding:4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.donateCard {
  position: absolute;
  width: 1003px;
  left: 220px;
  height: 250px;
  padding-right: 2rem;
  padding-left: 1rem;
  background-color: #ffffff;
}
.donateCardCover {
  position: absolute;
  top: 90px;
}
.aboutDonationCard {
  position: absolute;
  width: 1003px;
  left: 220px;
  top: 700px;
  height: 200px;
  padding-right: 2rem;
  padding-left: 1rem;
  /* background-color: #ffffff; */
}
.mainNewsCard {
  position: absolute;
  width: 1203px;
  left: 120px;
  bottom: 260px;
  height: 400px;
  padding-right: 2rem;
  padding-left: 1rem;
}
.mainNewsCard2 {
  position: absolute;
  width: 1203px;
  left: 120px;
  bottom: 500px;
  height: 400px;
  padding-right: 2rem;
  padding-left: 1rem;
}
.mainAboutCard2 {
  position: absolute;
  width: 1203px;
  left: 120px;
  bottom: 500px;
  height: 400px;
  padding-right: 2rem;
  padding-left: 1rem;
}
.mainLogCard {
  position: absolute;
  width: 1003px;
  left: 220px;
  top: 470px;
  height: 300px;
  padding-right: 2rem;
  padding-left: 1rem;
  background-color: #ffffff;
  border-radius: 10px;
}
.aboutTitle {
  position: absolute;
  left: 570px;
  top: 270px;
  font-family: "Helvetica";
  font-style: normal;
  font-size: 80px;
  font-weight: 550;
  color: #ffffff;
}
.aboutContent {
  font-family: "Helvetica";
  font-style: normal;
  font-size: 24px;
  font-weight: 530;
  margin-top: 25px;
}
.donateLogCard {
  position: absolute;
  width: 1003px;
  left: 220px;
  height: 220px;
  padding-right: 2rem;
  padding-left: 1rem;
  background-color: #ffffff;
  border-radius: 10px;
}
.donateLogCard1 {
  position: absolute;
  top: 795px;
  width: 1003px;
  left: 220px;
  height: 220px;
  padding-right: 2rem;
  padding-left: 1rem;
  background-color: #ffffff;
  border-radius: 10px;
}
.donateLogCard2 {
  position: absolute;
  top: 1050px;
  width: 1003px;
  left: 220px;
  height: 220px;
  padding-right: 2rem;
  padding-left: 1rem;
  background-color: #ffffff;
  border-radius: 10px;
}
.donateLogCard3 {
  position: absolute;
  top: 1300px;
  width: 1003px;
  left: 220px;
  height: 220px;
  padding-right: 2rem;
  padding-left: 1rem;
  background-color: #ffffff;
  border-radius: 10px;
}
.abouthr{
  left: 0px;
}
.aboutCard1 {
  position: absolute;
  width: 1003px;
  left: 220px;
  top: 850px;
  height: 250px;
  padding-right: 2rem;
  padding-left: 1rem;
  background-color: #ffffff;
  border-radius: 10px;
}
.aboutCard2 {
  position: absolute;
  width: 1003px;
  left: 220px;
  top: 1150px;
  height: 250px;
  padding-right: 2rem;
  padding-left: 1rem;
  background-color: #ffffff;
  border-radius: 10px;
}
.aboutCard3 {
  position: absolute;
  width: 1003px;
  left: 220px;
  top: 1450px;
  height: 250px;
  padding-right: 2rem;
  padding-left: 1rem;
  background-color: #ffffff;
  border-radius: 10px;
}
.aboutCard4 {
  position: absolute;
  width: 1003px;
  left: 220px;
  top: 1750px;
  height: 250px;
  padding-right: 2rem;
  padding-left: 1rem;
  background-color: #ffffff;
  border-radius: 10px;
}
.mainExplainCard {
  position: absolute;
  width: 1203px;
  top: 1150px;
  left: 110px;
  height: 500px;
  padding-right: 2rem;
  padding-left: 1rem;
  background-color: #ffffff;
  border-radius: 10px;
}
.aboutMainCard {
  position: absolute;
  width: 1043px;
  left: 220px;
  top: 600px;
  height: 400px;
  padding-right: 2rem;
  padding-left: 1rem;
  /* background-color: #ffffff; */
}
.aboutRegisterCard {
  position: absolute;
  width: 1003px;
  left: 220px;
  top: 950px;
  height: 200px;
  padding-right: 2rem;
  padding-left: 1rem;
  /* background-color: #ffffff; */
}
.divDonate {
  height: 580px;
  background-color: rgba(0, 0, 0, 0.1);
}
.divDonateLog {
  height: 1100px;
  background-color: rgba(0, 0, 0, 0.1);
}
.divDonate2 {
  height: 580px;
  background-color: rgba(0, 0, 0, 0.1);
}
.registeredCard {
  position: absolute;
  width: 1003px;
  left: 220px;
  top: 370px;
  height: 250px;
  padding-left: 1rem;
  padding-right: 1rem;
}
.donateImage {
  position: absolute;
  left: 0px;
  width: 50%;
}
.donateImageInDonate {
  position: absolute;
  left: 0px;
  width: 50%;
}
.donateCards {
  display: table;
  width: 100%;
}
.donateCardsReal {
  display: table;
  width: 100%;
}
.donateCardsReal2 {
  display: table;
  width: 100%;
}
.donateText {
  position: absolute;
  width: 50%;
  right: 0px;
}
.donateText1 {
  position: absolute;
  width: 50%;
  right: 0px;
}
.donateText2 {
  position: absolute;
  width: 50%;
  right: 0px;
}
.donateTextTitle {
 color: #000;
}
.newsText1 {
  position: absolute;
  width: 30%;
  right: 0px;
}
.successCard {
  position: absolute;
  height: 400px;
  width: 400px;
}
.newsText2 {
  position: absolute;
  width: 30%;
  left: 420px;
}
.newsText3 {
  position: absolute;
  width: 30%;
  left: 0px;
}
.aboutText1 {
  position: absolute;
  width: 30%;
  right: 0px;
}
.aboutText2 {
  position: absolute;
  width: 30%;
  left: 420px;
}
.aboutText3 {
  position: absolute;
  width: 30%;
  left: 0px;
}
.donateSmallText {
  margin: 20px;
  margin-left: 40px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
}
.mainSmallText {
  margin: 20px;
  margin-left: 40px;
  font-family: "Helvetica";
  font-style: normal;
  font-size: 25px;
  font-weight: 500;
  color: #484848;
}
.verticalLine {
  position: absolute;
  display: inline-block;
  border-left: 2px solid #999999;
  margin: 0 490px;
  margin-top: 20px;
  height: 170px;
}
.mainButton {
  margin-top: 70px;
  margin-left: 140px;
}
.verticalLine2 {
  position: absolute;
  display: inline-block;
  border-left: 2px solid #999999;
  margin: 0 490px;
  margin-top: 20px;
  height: 370px;
}
.registerImage {
  position: absolute;
  right: 0px;
  width: 50%;
}
.registerText {
  position: absolute;
  width: 50%;
  left: 0px;
  padding-right: 1rem;
}
.inputGroup {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}
.inputLabel {
  text-align: left;
}
.inputField {
  height: 30px;
}
.h2 {
  position: absolute;
  width: 433px;
  left: 252px;
  top: 110px;
}
.over {
  position: absolute;
  left: 300px;
  bottom: 70px;
}
.overright {
  position: absolute;
  right: 300px;
  bottom: 70px;
}
.mainOfNews {
  height: 650px;
}
.mainWebGuide{
  position: absolute;
  left: 270px;
  top: 20px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
}
.textExplainCard {
    position: absolute;
    font-size: 25px;
    margin: 30px;
    margin-left: 32px;
    margin-top: 110px;
    font-family: "Helvetica";
    font-style: "normal";
    font-weight: 500;
}
.divAbout {
  height: 1270px;
  background-color: rgba(0, 0, 0, 0.1);
}
.divWhite {
  height: 400px;
}
@media (max-width: 700px) {
  .h2 {
    position: absolute;
    width: 360px;
    left: 15px;
    top: 110px;
  }
  .donateImageInDonate{
    visibility: hidden;
  }
  .registerImage {
    visibility: hidden;
  }
  .aboutMainCard {
    position: absolute;
    width: 400px;
    left: 1px;
    top: 200px;
    height: 420px;
  }
  .over {
    position: absolute;
    left: 20px;
    top: 100px;
    width: 100%;
  }
  .overright {
    position: absolute;
    left: 20px;
    top: 10px;
    width: 100%;
  }
  .main {
    position: absolute;
    top: 200px;
    height: 100px;
    padding: 4rem 0;
    flex: 1;
    background-color: #000;
  }
  .mainOfNews {
    height: 1830px;
    width: 100%;
    /* background-color: yellow; */
  }
  .divDonate {
    position: absolute;
    top: 820px;
    height: 530px;
    width: 100%;
  }
  .divDonateLog {
    height: 2700px;
    /* height: 580px; */
    background-color: rgba(0, 0, 0, 0.1);
  }
  .mainLogCard {
    position: absolute;
    width: 95%;
    left: 10px;
    top: 440px;
    height: 600px;
    padding-right: 2rem;
    padding-left: 1rem;
    background-color: #ffffff;
    border-radius: 10px;
  }
  .donateLogCard1 {
    position: absolute;
    top: 1060px;
    width: 95%;
    left: 10px;
    height: 520px;
    padding-right: 2rem;
    padding-left: 1rem;
    background-color: #ffffff;
    border-radius: 10px;
  }
  .donateLogCard2 {
    position: absolute;
    top: 1600px;
    width: 95%;
    left: 10px;
    height: 420px;
    padding-right: 2rem;
    padding-left: 1rem;
    background-color: #ffffff;
    border-radius: 10px;
  }
  .donateLogCard3 {
    position: absolute;
    top: 2050px;
    width: 95%;
    left: 10px;
    height: 420px;
    padding-right: 2rem;
    padding-left: 1rem;
    background-color: #ffffff;
    border-radius: 10px;
  }
  .mainAboutCard2 {
    position: absolute;
    width: 100%;
    left: 0px;
    top: 1000px;
    height: 2220px;
    padding-right: 2rem;
    padding-left: 1rem;
    background-color: #fff;
  }
  .donateSmallText {
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 500;
  }
  .divDonate2 {
    height: 1230px;
    width: 100%;
  }
  .registerText {
    position: absolute;
    top: -70px;
    width: 100%;
    left: 0px;
    padding-right: 1rem;
  }
  .mainExplainCard {
    position: absolute;
    width: 380px;
    left: 15px;
    top: 30px;
    height: 460px;
    border-radius: 10px;
  }
  .mainSmallText {
    position: absolute;
    top: 100px;
    font-family: "Helvetica";
    font-style: normal;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    color: #484848;
  }
  .donateText {
    position: absolute;
    top: 35px;
    right: 10px;
    width: 100%;
  }
  .donateText1 {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 100%;
  }
  .donateText2 {
    position: absolute;
    top: 100px;
    right: 10px;
    width: 100%;
  }
  .donateTextTitle {
    margin-top: 10px;
    font-size: 40px;

  }
  .donateImage {
    position: absolute;
    top: 1px;
    width: 100%;
    right: 10px;
  }
  .mainButton {
    position: absolute;
    top: 35px;
    right: 120px;
  }
  .donateCards {
    position: absolute;
    top: 100px;
    left: 0px;
    width: 100%;
  }
  .donateCardsReal {
    position: absolute;
    width: 98%;
  }
  .donateCardsReal2 {
    position: absolute;
    top: 1px;
    left: 0px;
    width: 100%;
  }
  .donateCard {
    position: absolute;
    width: 90%;
    top: 20px;
    left: 10px;
    height: 350px;
    padding-right: 2rem;
    padding-left: 1rem;
    background-color: #ffffff;
  }
  .aboutDonationCard {
    position: absolute;
    width: 90%;
    left: 20px;
    top: 930px;
    height: 470px;
    padding-right: 2rem;
    padding-left: 1rem;
    border-radius: 10px;
    background-color: #ffffff;
  }
  .aboutRegisterCard {
    position: absolute;
    width: 90%;
    left: 20px;
    top: 1430px;
    height: 410px;
    padding-right: 2rem;
    padding-left: 1rem;
    border-radius: 10px;
    background-color: #ffffff;
  }
  .registeredCard {
    position: absolute;
    width: 90%;
    top: 480px;
    left: 20px;
    height: 350px;
    padding-right: 2rem;
    padding-left: 1rem;
  }
  .verticalLine2 {
    visibility: hidden;
  }
  .verticalLine {
    visibility: hidden;
  }
  .mainWebGuide{
    position: absolute;
    left: 10px;
    top: 20px;
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
  }
  .textExplainCard {
    position: absolute;
    font-size: 15px;
    margin: 3px;
    margin-top: 64px;
    font-family: Helvetica;
    font-style: "normal";
    font-weight: 500;
}
  .mainNewsCard {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 0px;
    top: 1500px;
    height: 450px;
  }
  .newsText1 {
    position: absolute;
    left: 1px;
    flex: 0 0 auto;
    width: 420px;
    height: 400px;
    border-radius: 10px;
    background-size: cover;
    margin: 10px;
    margin-top: 20px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .newsText2 {
    /* position: absolute;
    width: 30%;
    left: 420px; */
    flex: 0 0 auto;
    width: 420px;
    height: 400px;
    border-radius: 10px;
    margin: 10px;
    margin-top: 20px;
    background-size: cover;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .newsText3 {
    visibility: hidden;
  }
  .aboutText3 {
    width: 96%;
    height: 400px;
    border-radius: 10px;
    margin: 5px;
    margin-top: 20px;
    background-size: cover;
    background-color: #fff;
  }
  .aboutText2 {
    position: absolute;
    width: 96%;
    height: 400px;
    left: 10px;
    top: 750px;
    background-size: cover;
    background-color: #fff;
  }
  .aboutText1 {
    width: 96%;
    height: 400px;
    border-radius: 10px;
    margin: 5px;
    margin-top: 1500px;
    background-size: cover;
    background-color: #fff;
  }
  .donateCardCover {
    position: absolute;
    top: 90px;
    left: 10px;
    width: 100%;
  }
  .aboutContent {
    position: absolute;
    top: -60px;
    left: -50px;
    width: 90%;
    font-family: "Helvetica";
    font-style: normal;
    font-size: 24px;
    font-weight: 530;
    margin-top: 25px;
  }
  .abouthr{
    visibility: hidden;
  }
  .aboutTitle {
    position: absolute;
    left: 35px;
    top: 130px;
    font-family: "Helvetica";
    font-style: normal;
    font-size: 80px;
    font-weight: 550;
    color: #ffffff;
  }
  .divAbout {
    height: 3500px;
    background-color: rgba(0, 0, 0, 0.1);
  }
  .divWhite {
    height: 1500px;
  }
  .aboutCard1 {
    position: absolute;
    width: 90%;
    left: 20px;
    top: 3780px;
    height: 500px;
    padding-right: 2rem;
    padding-left: 1rem;
    background-color: #ffffff;
    border-radius: 10px;
  }
  .aboutCard2 {
    position: absolute;
    width: 90%;
    left: 20px;
    top: 3250px;
    height: 500px;
    padding-right: 2rem;
    padding-left: 1rem;
    background-color: #ffffff;
    border-radius: 10px;
  }
  .aboutCard3 {
    position: absolute;
    width: 90%;
    left: 20px;
    top: 4310px;
    height: 500px;
    padding-right: 2rem;
    padding-left: 1rem;
    background-color: #ffffff;
    border-radius: 10px;
  }
  .aboutCard4 {
    position: absolute;
    width: 90%;
    left: 20px;
    top: 4850px;
    height: 500px;
    padding-right: 2rem;
    padding-left: 1rem;
    background-color: #ffffff;
    border-radius: 10px;
  }

}

.contact {
  left: -8px;
  top: 0px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 50px;
  color: #ffffff;
  margin-bottom: 1rem;
}
.donateh1 {
  margin: 18px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
}
.regish1 {
  margin: 18px;
  margin-left: 30px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
}
.regish2 {
  margin: 18px;
  margin-left: 30px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
}.regish21 {
  margin: 18px;
  margin-left: 30px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
}
.line1 {
  left: -9px;
  top: 0px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 10px;
  color: #ffffff;
}
.credit {
  position: absolute;
  bottom: 7px;
  color: #ffffff;
}
.h2span {
  left: -8px;
  top: 0px;
  bottom: 77px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 600;
  font-size: 55px;
  line-height: 90px;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.1);
}
@media (max-width: 700px) {
  .h2span {
    top: 0px;
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 70px;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.2);
  }
  .contact {
    font-size: 20px;
    line-height: 40px;
  }
  .credit {
    position: absolute;
    bottom: 1px;
    font-size: 15px;
    line-height: 20px;
    width: 400px;
    left: 20px;
    color: #ffffff;
  }
  .line1 {
    font-size: 20px;
    line-height: 10px;
  }
  .regish1 {
    position: absolute;
    top: 30px;
    font-family: "Helvetica";
    font-style: normal;
    font-size: 22px;
    line-height: 25px;
    font-weight: 500;
  }
  .regish2 {
    position: absolute;
    top: 10px;
    font-family: "Helvetica";
    font-style: normal;
    font-size: 24px;
    line-height: 25px;
    font-weight: 500;
  }
  .regish21 {
  visibility: hidden;
  }
}
.navBar {
  height: 70px;
  position: absolute;
}
@media (max-width: 700px) {
  .navBar {
    height: 100px;
    width: 420px;
    position: absolute;
  }
}
.h2spanLog {
  left: -8px;
  top: 0px;
  bottom: 77px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 70px;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.1);
}
.registerCard {
  position: absolute;
  width: 2003px;
  left: 252px;
  top: 110px;
}
.button {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  /* identical to box height, or 200% */

  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}
.DBbutton {
  margin: 1px;
}
.RBbutton {
  margin: 1px;
}
.Registerbutton {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  /* identical to box height, or 200% */

  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}

.minortext {
  left: -8px;
  top: 0px;
  bottom: 77px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 580;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.1);
}
@media (max-width: 700px) {
  .minortext {
    left: -8px;
    top: 0px;
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 550;
    font-size: 15px;
    line-height: 20px;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.2);
  }
}
.classicButton {
  padding: 16px;
}
@media (max-width: 700px) {
  .classicButton {
    margin-top: 20px;
    width: 60px;
    height: 40px;
  }
  .DBbutton {
    margin: 60px;
  }
  .RBbutton {
    position: absolute;
    top: 100px;
    margin: 0px;
  }
  .button {
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 550;
    font-size: 20px;
    line-height: 35px;
    /* identical to box height, or 200% */

    display: flex;
    align-items: center;
    text-align: center;

    color: rgba(0, 0, 0, 0.8);
  }
  .Registerbutton {
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
  
    display: flex;
    align-items: center;
    text-align: center;
  
    color: #ffffff;
  }
}
.newsTitleText {
  margin: 5px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 520;
  font-size: 17px;
}
.table {
  border-color: "green";
  top: 150px;
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
}
.footer {
  display: flex;
  flex: 1;
  height: 200px;
  padding: 2rem 0;
  border-top: 2px solid #eaeaea;
  justify-content: center;
  align-items: center;
  background: rgba(4, 45, 85, 0.4);
}
@media (max-width: 700px) {
  .footer {
    height: 280px;
    width: 100%;
    position: absolute;
    bottom: 0px;
  }
}
.updateText {
  margin: 0.5rem;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 550;
  font-size: 15px;
  line-height: 17px;
}
.update {
  margin: 0.5rem;
  color: #005bbb;
}
.hr {
  position: absolute;
  bottom: 40px;
  color: #ffffff;
}
.mainhr {
  position: absolute;
  top: 570px;
  color: #ffc43a;
}
.top1 {
  position: absolute;
  width: 107px;
  height: 32px;
  left: calc(50% - 107px / 2 - 298.5px);
  top: calc(50% - 32px / 2);
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 550;
  font-size: 18px;
  line-height: 32px;
  /* identical to box height, or 178% */
  display: flex;
  align-items: center;
  color: #ffffff;
}
.top2 {
  position: absolute;
  width: 175px;
  height: 32px;
  left: calc(50% - 175px / 2 - 95.5px);
  top: calc(50% - 32px / 2);

  font-family: "Helvetica";
  font-style: normal;
  font-weight: 550;
  font-size: 18px;
  line-height: 32px;
  /* identical to box height, or 178% */

  display: flex;
  align-items: center;

  color: #ffffff;
}
.top3 {
  position: absolute;
  width: 152px;
  height: 32px;
  left: calc(50% - 152px / 2 + 132px);
  top: calc(50% - 32px / 2);

  font-family: "Helvetica";
  font-style: normal;
  font-weight: 550;
  font-size: 18px;
  line-height: 32px;
  /* identical to box height, or 178% */

  display: flex;
  align-items: center;

  color: #ffffff;
}
.top4 {
  position: absolute;
  width: 82px;
  height: 32px;
  left: calc(50% - 82px / 2 + 311px);
  top: calc(50% - 32px / 2);

  font-family: "Helvetica";
  font-style: normal;
  font-weight: 550;
  font-size: 18px;
  line-height: 32px;
  /* identical to box height, or 178% */

  display: flex;
  align-items: center;

  color: #ffffff;
}
@media (max-width: 700px) {
  .top1 {
    position: absolute;
    width: 100px;
    height: 40px;
    left: 12px;
    top: 15px;
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 40px;
    /* identical to box height, or 178% */
    display: flex;
    align-items: center;
    color: #ffffff;
  }
  .top2 {
    position: absolute;
    width: 100px;
    height: 40px;
    left: 82px;
    top: 50px;

    font-family: "Helvetica";
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 40px;
    /* identical to box height, or 178% */

    display: flex;
    align-items: center;

    color: #ffffff;
  }
  .top3 {
    position: absolute;
    width: 100px;
    height: 40px;
    left: 190px;
    top: 15px;

    font-family: "Helvetica";
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 40px;
    /* identical to box height, or 178% */

    display: flex;
    align-items: center;

    color: #ffffff;
  }
  .top4 {
    position: absolute;
    width: 100px;
    height: 40px;
    left: 300px;
    top: 50px;

    font-family: "Helvetica";
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 40px;
    /* identical to box height, or 178% */

    display: flex;
    align-items: center;

    color: #ffffff;
  }
  .mainhr {
    position: absolute;
    height: 5px;
    width: 390px;
    left: 10px;
    top: 320px;
    color: #ffc43a;
  }
  .table {
    position: absolute;
    top: 2460px;
    margin: 1rem;
    padding: 1.5rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 1px solid #eaeaea;
    background-color: #fff;
    border-radius: 10px;
    width: 90%;
  }

}
.header {
  position: fixed;
  align-items: top;
  height: 70px;
  background: rgba(0, 0, 0, 0.5);
}

.active {
  position: fixed;
  align-items: center;
  height: 70px;
  background: rgba(0, 100, 0, 0.5);
}

.text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  position: absolute;
  top: 500px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 520;
  font-size: 60px;
}
@media (max-width: 700px) {
  .title {
    font-size: 40px;
    width: 400px;
    top: 230px;
    left: 20px;
  }
}
.frontImage {
  position: relative;
  width: 2000px;
  height: 440px;
}
.frontImageDonate {
  position: relative;
  width: 1920;
  height: 658px;
}
@media (max-width: 700px) {
  .frontImage {
    position: relative;
    width: 100%;
    height: 400px;
  }
  .frontImageDonate {
    position: relative;
    width: 100%;
    height: 900px;
  }
}
.newsTitle {
  position: absolute;
  bottom: 720px;
  left: 380px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 520;
  font-size: 60px;
}
.teamTitle {
  position: absolute;
  bottom: 920px;
  left: 500px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 520;
  font-size: 60px;
}
.newsDes {
  position: absolute;
  bottom: 690px;
  left: 180px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 520;
  font-size: 20px;
}

.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .newsTitle {
    position: absolute;
    top: 1370px;
    left: 20px;
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 520;
    font-size: 28px;
  }
  .newsDes {
    position: absolute;
    top: 1410px;
    left: 10px;
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 520;
    font-size: 18px;
    line-height: 22px;
  }
  .teamTitle {
    position: absolute;
    top: 900px;
    left: 20px;
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 520;
    font-size: 55px;
  }
}
